<!DOCTYPE html>
<html>
  <head>
    <title>templates</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Like <%= thisone[1] %> </p>
  </body>
</html>
